:root {
    --mainred: #DC4444;
    --mainblack: #1A1A1A;
    --lightgray: #ccc;
}

/* Page setup */
html, body {margin: 0; padding: 0; font-family: Helvetica, sans-serif;}
div {border: #666 0px solid; margin: 0; padding:0px} 

.index {display: flex; flex-flow: row wrap;}
.index > * {flex: 1 100%;}

/* Mobile & Desktop Positioning */

    /* Tiny One Col Layout */
    @media all and (min-width: 400px) {

    }

    /* Two Col Layout*/
    @media all and (min-width: 600px) {
        .aside {flex: 1.4 0 0;}
        #main    {flex: 3 0 0;}
        #sidebar {flex-basis: 100%;}
    }

    /* Three Col Layout*/
    /* This size should be set higher for final version eg. 1600px*/
    @media all and (min-width: 1300px) {
        #main    {flex: 5 0 0;}
        #sidebar {flex-basis: 0%;}
    }

/* Section Size Adjusting */

    /* Tiny One Col Layout */
    @media all and (min-width: 400px) {
        #title {
            height: 3em;
            padding-top: 0.6em;
        }
        #nav-user {padding-top: 0.5em;}
    }

    /* Two Col Layout*/
    @media all and (min-width: 600px) {
        #title {
            height: 100px;
            padding-top: 1em;
        }
        #nav {max-width: 290px; min-width: 260px;}
        #nav-user {padding-top: 0.5em;}

    }

    /* Three Col Layout*/
    /* This size should be set higher for final version eg. 1600px*/
    @media all and (min-width: 1300px) {
    }


/* General Elements */

h1, h2, h3, h4, h5, h6 {
    margin: 0 ;
    padding: 0;
}

/* Page Structure */

#title {
    background: var(--mainred);
}
#title h1 {
    color: #fff;
    text-indent: 1em;
    letter-spacing: 0.07em;
    }

/* NAVIGATION */
#nav {
    font-size: 1.3em;
    background: var(--mainblack);
    padding-bottom: 3em;
}

#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    margin: 0.6em 0;
    text-decoration: none;
}
    #nav-site ul {
        margin: 0;
    }
    #nav-site li {
        list-style: none;
        padding: 0 1em;
    }
    #nav-site a {
        color: #fff;
        text-decoration: none;
    }

    #nav-user {
        position: absolute;
        top: 0.3em;
        right: 0.4em;
        font-size: 1rem; 
        width: 40%;
    }
        #nav-user ul {
            display: flex;
            flex-direction: row-reverse;
            list-style-type: none;
        }
        #nav-user li {
            background: #fff;
            border-radius: 12px;
            padding: 4px 12px;
            margin: 0 0.2em;
        }
        #nav-user a {
            color: #000;
            text-decoration: none;
        }
    
    
#main {
    padding: 1em;
}
    #listings {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
    }
        #listings h3 {
            background: #ccc;
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;}
        .item {
            width: 10%;
            min-width: 220px;
            background: var(--lightgray);
            margin: 1em;
            padding: 0.5em 1em 1.3em;
            max-width: 300px;
            border-radius: 10px;
        }
            .item h4 {
                text-align: center;
                margin: 0.3em 0 0.7em;}
            .item img {
                    border: 1px solid #333;
                    width: 200px;
                    height: 140px;
                    display: block;
                    margin: 0 auto;
            }
            .item ul {margin:0; padding:0;}
            .item ul li {
                display: inline;
            }

#sidebar {
    padding: 1em;
    background: var(--lightgray);}


#footer {
    background: var(--mainred);
    text-align: center;
    height: 180px;
    padding-top: 2em;
    }
