:root {
    --mainred: #DC4444;
    --mainblack: #1A1A1A;
}

/* Page setup */
html, body {margin: 0; padding: 0; font-family: Helvetica, sans-serif;}
div {border: #666 0px solid; margin: 0; padding:0px} 

.index {display: flex; flex-flow: row wrap;}
.index > * {flex: 1 100%;}

/* Mobile & Desktop Positioning */

    /* Tiny One Col Layout */
    @media all and (min-width: 400px) {

    }

    /* Two Col Layout*/
    @media all and (min-width: 600px) {
        .aside {flex: 1.4 0 0;}
        #nav {max-width: 290px;}
        #main    {flex: 3 0 0;}
        #sidebar {flex-basis: 100%;}
    }

    /* Three Col Layout*/
    /* This size should be set higher for final version eg. 1600px*/
    @media all and (min-width: 1300px) {
        #sidebar {flex-basis: 0;}
    }

/* General Elements */

h1, h2, h3, h4, h5, h6 {
    margin: 0 ;
    padding: 0;
}

/* Page Structure */

#title {
    background: var(--mainred);
}
#title h1 {
    color: #fff;
    text-indent: 1em;
    letter-spacing: 0.07em;
    }

/* NAVIGATION */
#nav {
    font-size: 1.3em;
    background: var(--mainblack);
}

#nav ul {
    margin: 0;
    padding: 0;
}
#nav li {
    margin: 0.6em 0;
    text-decoration: none;
}
    #nav-site ul {
        margin: 0;
    }
    #nav-site li {
        list-style: none;
        padding: 0 1em;
    }
    #nav-site a {
        color: #fff;
        text-decoration: none;
    }

    #nav-user {
        position: absolute;
        top: 0.3em;
        right: 0.4em;
        font-size: 1rem; 
        width: 40%;
    }
        #nav-user ul {
            display: flex;
            flex-direction: row-reverse;
            list-style-type: none;
        }
        #nav-user li {
            background: #fff;
            border-radius: 12px;
            padding: 4px 12px;
            margin: 0 0.2em;
        }
        #nav-user a {
            color: #000;
            text-decoration: none;
        }
    
    
#main {
    padding: 0;
}
    #listings {
        display: flex;
        justify-content: space-evenly;
    }
        .item {
            width: 15%;
            min-width: 150px;
        }




#footer {
    background: var(--mainred);
    text-align: center;
    height: 130px;
    }
